.attribution {
    font-size: 11px;
    text-align: center;
    font-family: 'Kumbh-Sans';
    position: relative;
    top: 100px;
    left: 100px;
    color: white;
}

.attribution a {
    color: white;
    font-weight: bold;
}

body {
    background-image:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.q {
    color: grey;
    font-size: 15px;
    font-family: 'Kumbh-Sans';
    display:inline-block;
    position: relative;
    left: 450px;
    top:100px;
}

#head {
    color: black;
    font-family: 'Kumbh-Sans';
    font-size: 30px;
    position: relative;
    left: 450px;
    top:100px; 
}

#main {
    color:grey;
    font-size: 12px;
    font-family: 'Kumbh-Sans';
    background-color: white;
    border: thin;
    border-color: black;
    border-radius: 20px;
    height: 600px;
    width: 70%;
    position: relative;
    bottom:25px;
    top: 25px;
    left: 100px;
    right: 100px;
}

#answer1 {
    display: none;
    position: relative;
    left: 450px;
    top:100px;
}

#secondQ {
    display: none;
    position: relative;
    left: 450px;
    top:100px;
}

#thirdQ {
    display: none;
    position: relative;
    left: 450px;
    top:100px;
}

#fourthQ {
    display: none;
    position: relative;
    left: 450px;
    top:100px;
}

#fifthQ {
    display: none;
    position: relative;
    left: 450px;
    top:100px;
}

#b1 {
    position: relative;
    left: 450px;
    top:100px;
}

#b2 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
    position: relative;
    left: 450px;
    top:100px;
}

#b3 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
    position: relative;
    left: 450px;
    top:100px;
}

#b4 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
    position: relative;
    left: 450px;
    top:100px;
}

#b5 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
    position: relative;
    left: 450px;
    top:100px;
}

.striped-border { 
    border: 1px dashed #000; 
    width: 50%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%; 
}

#womanPic {
    position: relative;
    top: 350px;
    left:100px;

}
