.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#body {
    background-color: hsl(273, 75%, 66%);
}
#main {
    color: grey;
    font-size: 12px;
    font-family: Kumbh-Sans;
}

#b1 {
    background-color: white;
    border-color: white ;
}

#b2 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
}

#b3 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
}

#b4 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
}

#b5 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
}