.attribution {
    font-size: 11px;
    text-align: center;
    font-family: 'Kumbh Sans';
    position: relative;
    top: 50px;
    color: white;
}

.attribution a {
    color: white;
    font-weight: bold;
}

.attribution a:hover {
    color: black;
}

body {
    background-image:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.q {
    color: grey;
    font-size: 15px;
    font-family: 'Kumbh Sans';
    display:inline-block;
    position: inherit;
    left: 475px;
    bottom: 100px;
    
}
.q:hover {
    color: coral;
  }


#head {
    color: black;
    font-family: 'Kumbh Sans';
    font-size: 30px;
    position: inherit;
    left: 475px;
    bottom: 100px;
}

#main {
    color:grey;
    font-size: 12px;
    font-family: 'Kumbh Sans';
    background-color: white;
    border: thin;
    border-color: black;
    border-radius: 20px;
    height: 600px;
    width: 70%;
    position: relative;
    bottom:25px;
    top: 25px;
    left: 100px;
    right: 100px;
}

#answer1 {
    display: none;
    position: relative;
    left: 475px;
    bottom: 100px;
}

#secondQ {
    display: none;
    position: relative;
    left: 475px;
    bottom: 100px;
}

#thirdQ {
    display: none;
    position: relative;
    left: 475px;
    bottom: 100px;
}

#fourthQ {
    display: none;
    position: relative;
    left: 475px;
    bottom: 100px;
}

#fifthQ {
    display: none;
    position: relative;
    left: 475px;
    bottom: 100px;
}

#b1 {
    position: relative;
    left: 475px;
    bottom: 100px;
    background-color: white;
    border-color: white ;
}

#b2 {
    position: relative;
    left: 475px;
    bottom: 100px;
    background-color: white;
    border-color: white ;
}

#b3 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
    position: relative;
    left: 475px;
    bottom: 100px;
}

#b4 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
    position: relative;
    left: 475px;
    bottom: 100px;
}

#b5 {
    background-color: white;
    border-radius: 5px;
    border-color: white ;
    position: relative;
    left: 475px;
    bottom: 100px;
}

#mobilePic {
    position: relative;
    top: 175px;
    right: 175px;
}

.line {
    color: black;
    size: 4;
    width: 350px;
    position: relative;
    left: 150px;
    bottom: 100px;
    z-index: 3;
}

#shadow {
    position: relative;
    top: 200px;
    left: 100px;

}

@media only screen and (min-width: 320px) and (max-width:414px) {
    .line {
        position: relative;
        left: 1px;
        top: 200px;
    }

    #main {
        width: 500px ;
        height: 1000px;
    }
    
    .q {
        position: relative;
        left: 75px;
        top: 200px;
    }

    #answer1 {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #secondQ {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #thirdQ {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #fourthQ {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #fifthQ {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #b1 {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #b2 {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #b3 {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #b4 {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #b5 {
        position: relative;
        left: 75px;
        top: 200px;
    }
    
    #mobilePic {
        position: relative;
        bottom: 350px;
        left: 75px;
        /*left: 100px;
        bottom: 500px;*/
        

    }
    #shadow {
        /*bottom: 400px;*/
        position: relative;
        top: 400px;
        right: 250px;
    }

    #head {
        position: relative;
        left: 150px;
        top: 200px;
    }

    .attribution {
        left: 175px;
    }
  }

  @media only screen and (min-width:768px) and (max-width:1024px) , (orientation: portrait) {
      #mobilePic {
          display: none;
      }
      #shadow {
          display: none;
      }

      .q {
          position: relative;
          left: 100px;
          top: 150px;
      }

      .line {
          position: relative;
          left: 10px;
          top: 150px;
      }

      #head {
          position: relative;
          top: 150px;
          left: 200px;
      }

      #answer1 {
        position: relative;
        left: 100px;
          top: 150px;
    }
    
    #secondQ {
        position: relative;
        left: 100px;
          top: 150px;
    }
    
    #thirdQ {
        position: relative;
        left: 100px;
          top: 150px;
    }
    
    #fourthQ {
        position: relative;
        left: 100px;
          top: 150px;
    }
    
    #fifthQ {
        position: relative;
        left: 100px;
          top: 150px;
    }
    
    #b1 {
        position: relative;
        left: 100px;
          top: 150px;
    }
    
    #b2 {
        position: relative;
        left: 100px;
        top: 150px;
    }
    
    #b3 {
        position: relative;
        left: 100px;
          top: 150px;
    }
    
    #b4 {
        position: relative;
        left: 100px;
          top: 150px;
    }
    
    #b5 {
        position: relative;
        left: 100px;
        top: 150px;
    }

    #main {
        height: 700px;
    }
  }
